<p> Hello <%= @user.email %> </p>
<p>This is to inform you that your request to join <%= @user.teamName %> has been rejected.</p>
<p>Your account has been deleted. Please re register with a new team.</p>
<p>Happy Hacking!</p>
<p>- ECTF Team</p>
