<p> Welcome <%= @user.teamName %> </p>
<p>  ECTF'14 will be held at <%= link_to "9.00 AM IST on 18th October 2014", "http://www.timeanddate.com/worldclock/fixedtime.html?msg=ECTF%2714&iso=20141018T09&p1=54" %>. The contest will be 32 hours long.<br/> Log in with your email id and password used for registering on this site.</p>
<p> You can also join #ectf on Freenode IRC or mail to ectf@engineer.org.in during the contest hours to contact the organisers in case of any problems. </p>
<p>If you're new to CTF take a look at the newbies page on the site.</p>
<p>Happy Hacking!</p>
<p>- ECTF Team</p>
