<div class=" col-lg-8 col-lg-offset-2">
<h3> What is ECTF ? </h3>
<p style="padding-left:2%;">
    ECTF stands for <a href="http://www.engineer.org.in">ENGINEER</a> Capture the flag. It is organized by Undergraduates of <a href="http://www.nitk.ac.in">NITK Surathkal</a>.
</p>
</div>
<div class=" col-lg-8 col-lg-offset-2">
<h3>  Is ECTF a team event ? </h3>
<p style="padding-left:2%;">
    Yes it is, but it is upto you to decide the team size.
</p>
</div>
<div class=" col-lg-8 col-lg-offset-2">
<h3> How do I contact you? </h3>
<p style="padding-left:2%;">
    <ul>
        <li style="font-size: 15px;">You can ask us anything in <a href="http://webchat.freenode.net/?channels=ectf">#ectf</a> on Freenode</li>
        <li style="font-size: 15px;">You can mail us at <a href="mailto:ectf@engineer.org.in">ectf@engineer.org.in</a></li>
    </ul>
</p>
</div>
<div class=" col-lg-8 col-lg-offset-2">
<h3> Can non-Indian teams participate? </h3>
<p style="padding-left:2%;">
    Yes !
</p>
</div>