<div style="padding-bottom:50px;">
    <div class=" col-lg-8 col-lg-offset-2">
        <h3> What is CTF ? </h3>
        <p style="padding-left:2%; font-size:15px;">
            CTF stands for Capture the flag. It is an ethical hacking contest testing one's skills and proficiency with software and information security.<br/>
            CTFs are usually organized in 3 styles: Jeopardy, Attack-Defense and mixed.<br/>
            This year ECTF will be held in Jeopardy style.<br/>
            To know more about what CTFs are, visit <%= link_to "ctf-wtf","https://ctftime.org/ctf-wtf/", target: "_blank" %>
        </p>
    </div>
    <div class=" col-lg-8 col-lg-offset-2">
        <h3>  Prerequisites </h3>
        <p style="padding-left:2%; font-size: 15px;">
            Participants of CTFs are not expected to be very well versed with computer security. General prerequisites are computer programming for any participant.<br/><br/>
            It is recommended that atleast one member of each team is comfortable with the following  :
            <ul style="font-size: 15px;">
                <li> HTML,CSS and Javascript </li>
                <li> Python or Ruby </li>
                <li> General C or Java programming </li>
                <li> UNIX command line </li>
            </ul>
        </p>
    </div>
        <div class=" col-lg-8 col-lg-offset-2">
        <h3>  Connecting to IRC </h3>
        <p style="padding-left:2%; font-size: 15px;">
            Check out this guide for connecting to IRC: <%= link_to "guide", "http://www.irchelp.org/irchelp/irctutorial.html" %>

        </p>
    </div>
    <div class=" col-lg-8 col-lg-offset-2">
        <h3> Resources and Tools </h3>
        <p style="padding-left:2%; font-size: 15px;">
            <ul>
                <li>A Modern web browser</li>
                <li>Access to *NIX and Windows machines. This can easily be setup by using a virtual machine.</li>
            </ul>
        </p>
    </div>
    <div class=" col-lg-8 col-lg-offset-2">
        <h3>Follow upcoming CTFs </h3>
        <p style="padding-left:2%; font-size: 15px;">
            CTFs are usually publicised on <%= link_to "ctftime","https://ctftime.org/",target: "_blank"%>.<br/>
            One can register their team on this site and participate in upcoming CTFs.
        </p><br/><br/><br/><br/>
    </div>
</div>
