<div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading">Rules and Regulations</div>
        <div class="panel-body">
            The following are not permitted during the contest:
            <ul>
                <li>Sharing/Exchanging flags with other teams.</li>
                <li>Using automated vulnerability scanners and frameworks like Metasploit.</li>
                <li>Attacking the contest infrastructure. If a vulnerability is found, please report it to the organizing team. Points maybe rewarded suitably.</li>
                <li>Do not brute force flags.</li>
                <li>Posting solutions online or discussing on IRC (and ruining it for others). This contest was primarily made for people to have fun and learn.</li>
            </ul>
            The organizing team reserves the right to disqualify and ban any team for not following the contest rules. <br/>
            For any queries regarding the questions during the contest, please PM the admins on #ectf (freenode)
        </div>
    </div>
</div>
