<div class="col-lg-10 col-lg-offset-1" style="margin-bottom: 50px;">
    <h3><b>Publicity Sponsors:</b> <%= link_to "HackThisSite", "http://hackthissite.org" %></h3>
    <%= image_tag "hackthissite.png" %>

    <p>Hack This Site is a free, safe and legal training ground for hackers to test and expand their hacking skills. More than just another hacker wargames site, we are a living, breathing community with many active projects in development, with a vast selection of hacking articles and a huge forum where users can discuss hacking, network security, and just about everything. Tune in to the hacker underground and get involved with the project.</p>
    <p><b>Thanks for helping us out!</b></p>
</div>

<div class="col-lg-10 col-lg-offset-1">
    <h4><b>We're currently looking for more sponsors. If you're interested and would like to sponsor this event please contact: </b></h4>
    <p style="font-size: 18px;"> Vikas Yaligar <br/><%= mail_to "ectf@engineer.org.in" %> <br/> +919535027527</p> <br/>
    <h4>Perks:</h4>
    <ul>
        <li style="font-size: 18px;"> Publicity in various colleges in Karnataka(India) as the sponsor of event. </li>
        <li style="font-size: 18px;">Opportunity to open a stall in the college to publicise your product.</li>
    </ul>
</div>
