<div class="col-lg-10 col-lg-offset-1">
    <h4><b>We're currently looking for sponsors. If you're interested and would like to sponsor this event please contact: </b></h4>
    <p style="font-size: 18px;"> Vikas Yaligar <br/><%= mail_to "ectf@engineer.org.in" %> <br/> +919535027527</p> <br/>
    <h4>Perks:</h4>
    <ul>
        <li style="font-size: 18px;"> Publicity in various colleges in Karnataka as the sponsor of event. </li>
        <li style="font-size: 18px;">Opportunity to open a stall in the college to publicises your product.</li>
    </ul>
</div>
