<div class="col-lg-10 col-lg-offset-1" style="margin-bottom: 50px;">
    <h3><b>Engineer Computer Committee sponsor: </b> <%= link_to "IBM", "https://bluemix.net" %></h3>
    <%= image_tag "IBM.png" %>
    <p><b>Thanks for supporting us!</b></p>
</div>

<div class="col-lg-10 col-lg-offset-1" style="margin-bottom: 50px; padding-bottom:60px;">
    <h3><b>Publicity Sponsors:</b> <%= link_to "HackThisSite", "http://hackthissite.org" %></h3>
    <%= image_tag "hackthissite.png" %>
    <p>Hack This Site is a free, safe and legal training ground for hackers to test and expand their hacking skills. More than just another hacker wargames site, we are a living, breathing community with many active projects in development, with a vast selection of hacking articles and a huge forum where users can discuss hacking, network security, and just about everything. Tune in to the hacker underground and get involved with the project.</p>
    <p><b>Thanks for helping us out!</b></p>
</div>
